:root {
  --yellow: #ffd25f;
  --black: #111;
}

/* BASE */
body {
  margin: 0;
  background: var(--yellow);
  font-family: sans-serif;
  color: var(--black);
  text-align: center;
}

/* STRISCE */
.strip-black {
  width: 100%;
  height: 6px;
  background: linear-gradient(to right, #111, #333, #111);
}

.strip-orange {
  height: 18px;
  background: var(--yellow);
}

/* HEADER + LOGO */
.art-header {
  padding: 1.5rem 0;
}

.logo-img {
  width: 40px;
  height: auto;
}

/* TITOLO OPERA */
.art-title-section {
  padding-top: 1.5rem;   /* meno spazio sopra */
  padding-bottom: 3rem;  /* spazio corretto sotto */
}

.art-title-section h1 {
  font-family: 'Combo', sans-serif;
  font-size: 3rem;
  letter-spacing: 6px;
  margin-top: 0;
}

/* AREA BIANCA */
.art-white {
  background: white;
  padding: 4rem;
}

/* IMMAGINI CENTRALI */
.art-image {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap; /* responsive su mobile */
  padding-bottom: 2rem;
}

.art-image img {
  width: 10%;       /* scala in base al container */
  height: auto;      /* mantiene proporzioni */
}


/* FOOTER IDENTICO ALLA HOME */
footer {
  text-align: center;
  padding: 4rem 1rem;
  letter-spacing: 3px;
  font-size: 0.85rem;
}

footer a {
  text-decoration: none;
  color: var(--black);
  margin: 0 1rem;
}


/* MOBILE */
@media (max-width: 600px) {
  .art-related {
    grid-template-columns: 1fr;
  }
}

/* DESKTOP */
@media (min-width: 768px) {
  .art-title {
    font-size: 2.5rem;
  }
}
